.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}


.item {
    border: 1.5px solid var(--green);
    color: var(--green);
    font-weight: 600;
    padding: 6px 10px;
    cursor: pointer;
}

.item:hover {
    background: var(--green);
    color: var(--white);
}


.item.active {
    background: var(--green);
    color: var(--white);
    cursor: initial;
}

.btn {
    background: var(--green);
    color: var(--white);
}

.btn:hover {
    background: var(--white);
    color: var(--green);
}

.btn i {
    transform: scale(1.5);
}


