.logo {
  display: inline-block;
  max-width: 250px;
  height: auto;
}

.logo.small {
  max-width: 250px;
}

.logo.medium {
  max-width: 450px;
}

.logo.big {
  max-width: 700px;
}

.img {
  max-width: 100%;
  height: auto;
}

@media (width < 768px) {
  .logo.small {
    max-width: 200px;
  }

  .logo.medium {
    max-width: 400px;
  }

  .logo.big {
    max-width: 650px;
  }
}

@media (width < 480px) {
  .logo.small {
    max-width: 150px;
  }

  .logo.medium {
    max-width: 350px;
  }

  .logo.big {
    max-width: 500px;
  }
}
